.hexagon {
  //width: 160px;
  //height: 138px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url('sss.svg');
  //left: 120px;
  //top: 138.564px;
}